---
import BaseHead from "@/components/BaseHead.astro";
import ExternalScripts from "@/components/ExternalScripts.astro";
import Footer from "@/components/Footer.astro";
import Gallery from "@/components/Gallery.astro";
import Header from "@/components/Header.astro";

let title = "月落无声";
let description = `
  摄影爱好者<br/> 
  喜欢用镜头记录生活中的美好瞬间，从自然风光到城市人文，都能发现独特的美。<br/>  
  这个博客是我的个人记录空间，分享拍摄的照片、使用的参数和当时的想法。<br/> 
  `;
---

<!doctype html>
<html lang="en">
  <BaseHead
    title={title}
    description={description}
    author={'AREA44'}
    og={'og-image.jpg'}
  />

  <body class="is-preload">
    
    <div id="wrapper">
      <Header title={title} />
      <Footer title={title} description={description} />
      <Gallery />
    </div>
    <ExternalScripts />
  </body>
</html>
